<div class="card">
    <div class="card-body">
        <h4 class="card-title">Agent Status</h4>
        <h6 class="" style="color: #a2a1a1;">Favorites</h6>
        <div class="mb-4">
            <div class="d-flex align-items-center justify-content-between gap-2 stat-item">
                <span class="bullet bg-danger"></span>
                <div class="d-grid gap-1 flex-grow-1">
                    <h6 class="m-0">Ally shaw</h6>
                    <small class="text-danger">Not Ready-Tea</small>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <i class="icon bi bi-star fs-5 text-muted"></i>
                    <i class="icon bi bi-telephone fs-5 text-muted"></i>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between gap-2 stat-item">
                <span class="bullet bg-success"></span>
                <div class="d-grid gap-1 flex-grow-1">
                    <h6 class="m-0">Cashy white</h6>
                    <small class="text-success">Not Ready-Tea</small>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <i class="icon bi bi-star fs-5 text-muted"></i>
                    <i class="icon bi bi-telephone fs-5 text-muted"></i>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between gap-2 stat-item">
                <span class="bullet bg-primary"></span>
                <div class="d-grid gap-1 flex-grow-1">
                    <h6 class="m-0">Ally shaw</h6>
                    <small class="text-primary">Not Ready-Tea</small>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <i class="icon bi bi-star fs-5 text-muted"></i>
                    <i class="icon bi bi-telephone fs-5 text-muted"></i>
                </div>
            </div>
        </div>
    </div>
</div>