.stat-item {
    padding: 7px 20px; cursor: pointer; margin: 0 -15px;

    small {font-size: 11px; opacity: .6;}

    .icon {opacity: 0;}

    .bullet {width: 8px; height: 8px; border-radius: 100%; background: var(--light-gray); margin-top: -20px;}

    &:hover {
        background-color: #f2f8fb;
        
        .icon {opacity: 1;}
    }
}