<div class="card contact-waiting">
    <div class="card-body">
        <h4 class="card-title">Contact Statistics</h4>
        <div class="auto-fr">
            <div class="card">
                <span class="text-danger fs-1 fw-bold">09</span>
                <p class="m-0 text-muted">Waiting Contacts</p>
            </div>
            <div class="">
                <div class="flex-row mb-2">
                    <div class="item">
                        <span class="fs-2 fw-bold">114</span>
                        <p class="m-0">Total</p>
                    </div>
                    <div class="item">
                        <span class="fs-2 fw-bold">114</span>
                        <small>(14.3%)</small>
                        <p class="m-0">Answered</p>
                    </div>
                </div>
                <div class="flex-row flex-row-group">
                    <div class="item">
                        <span class="fs-3 fw-bold">114</span>
                        <p class="m-0">Total</p>
                    </div>
                    <div class="item">
                        <span class="fs-3 fw-bold">114</span>
                        <small>(14.3%)</small>
                        <p class="m-0">Answered</p>
                    </div>
                    <div class="item">
                        <span class="fs-3 fw-bold">114</span>
                        <small>(14.3%)</small>
                        <p class="m-0">Answered</p>
                    </div>
                    <div class="item">
                        <span class="fs-3 fw-bold">114</span>
                        <small>(14.3%)</small>
                        <p class="m-0">Answered</p>
                    </div>
                    <div class="item">
                        <span class="fs-3 fw-bold">114</span>
                        <small>(14.3%)</small>
                        <p class="m-0">Answered</p>
                    </div>
                    <div class="item">
                        <span class="fs-3 fw-bold">114</span>
                        <small>(14.3%)</small>
                        <p class="m-0">Answered</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>