<aside class="menu" #asideElement>
    <div class="toggle-arrow" (click)="toggleAside()"><i class="bi bi-chevron-right fs-6"></i></div>
    <ul class="list-unstyled">
        <li>
            <a href="#" class="active">
                <i class="bi bi-grid-1x2-fill"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-gear-fill"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-envelope-fill"></i>
                <span>Dashboard</span>
            </a>
        </li>
    </ul>
    <ul class="list-unstyled">
        <li>
            <a href="#">
                <i class="bi bi-gear-fill"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-info-circle"></i>
                <span>Dashboard</span>
            </a>
        </li>
    </ul>
</aside>